[submodule "Assets/Synecdoche/HLSL"]
	path = Assets/Synecdoche/HLSL
	url = /Users/ogo/Hubris/SynecdocheExamples/HLSL-LibraryExamples/Assets/Synecdoche/HLSL
[submodule "Assets/Synecdoche/Base"]
	path = Assets/Synecdoche/Base
	url = /Users/ogo/Hubris/Synecdoche/Base
