[submodule "Assets/Synecdoche/HLSL"]
	path = Assets/Synecdoche/HLSL
url=https://youandhubris@github.com/youandhubris/HLSL-Library.git
[submodule "Assets/Synecdoche/Base"]
	path = Assets/Synecdoche/Base
url=https://youandhubris@github.com/youandhubris/Synecdoche.git
